footer{
	margin:0% 0 0 0;
}
.footer-wrapper{
	padding:2% 0 0 3.5%;

	h4{
		color: #fff;
		margin:0;
		font-size: 20px;

	}
	li{
		color: #fff;
		a{ color:#fff;}
	}
}
.footer-bloginfo{
	color:#fff;
	a{ color:#fff;}
}
.footer-bloginfo{
	text-align:center;
}
.footer-logo{ 

}