footer{
	margin:0% 0 0 0;
}

.Footer-inner{
	margin-top: 5%;
}
.footer-wrapper{
	padding:2% 0;
	margin-top:3%;

	h4{
		color: #323335;
		margin: 0;
		font-size: 20px;

	}
	li{
		color: #323335;
		a{ color:#323335;}
	}
}
.footer-bloginfo{
	color:#fff;
	a{ color:#fff;}
}
.footer-bloginfo{
	text-align:center;
}
.footer-logo{ 
	width: 50%;

}
.footer-link{ 
	width: auto;
}
.widgettitle{
	margin-top:17px;
}
.footer-r{
	margin-top: 81px;
}
@media all and (max-width: 700px) {  
	.footer-wrapper{
		padding: 2% 0px 2% 36%;
	}
}