// *************************************
//
// Navigation
// -> Reusable navigation module
//
// *************************************

//midden header
//------------------------------------------------------------------------------------------------------------- -->

//nav------------------------------------------------------------------------------------------------->
.header-midden{}
.header-midden-nav{}
.Navigation-list{
  margin:0;
}
.Navigation-list--dropdown{
}
.Navigation-listItem{
  float: left;
  padding:2%;
  margin:0;
}
.Navigation-link{
  margin:0 auto;
}
// einde nav ----------------------------------------------------------------------------------------->

//------------------------------------------------------------------------------------------------------------- -->
//einde midden header
